.sunken {
  padding: 15px;
  margin: 5px;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

/* Float either direction */
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

/* Make sure elements don't run outside containers (great for images in columns) */
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.justified {
  text-align: justify;
  text-justify: inter-word; }

img {
  padding: 5px
}