.sunken {
  padding: 15px;
  margin: 5px;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }

/* Float either direction */
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }

.u-full-width {
  width: 100%;
  box-sizing: border-box; }